.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  color: aqua;
  padding-bottom: 0.5%;
  
  
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: antiquewhite;
  border-radius: 8px;
}
.button:active {
  color: burlywood;
}

.links {
  text-decoration: none;
  color: black;
  
}
.links:hover {
  text-decoration: underline;
}

input {
  border: 1px solid antiquewhite;
  margin-bottom: 10px;
  width: 20%;
  margin-right: 5px;
  
}
button {
  border-radius: 6px;
  background-color: antiquewhite;
}

.inputboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bold {
  font-weight: bold;
}

::placeholder {
  text-align: center;
}

.character {
  border: 2px solid  antiquewhite;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 20px;
}